.article-summary {
    color: brown;
}

.article-date {
    color: green;
}

article {
    margin-bottom: 50px;
}

.article-tag {
    text-decoration: none;
    background: linear-gradient(to bottom, lightcyan, darkturquoise, lightcyan);
    padding: 2px;
    margin: 5px;
}