{{ define "main" }}
{{ if not .IsHome }}
{{ .Title }}
{{ end }}
{{ .Content }}
{{ range .Pages }}
<article>
    <ul>
        <li>
            <h2><a href="{{.Permalink}}">{{.Title}}</a></h2>
            <ul>
                <li>
                    <p class="article-date">{{ dateFormat "2006年1月2日" .Date }}</p>
                </li>
                <li>
                    {{ range (.GetTerms "tags") }}
                    <a class="article-tag" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
                    {{ end }}
                </li>
                <li>
                    <p class="article-summary">{{ .Summary }} （文字数）</p>
                </li>
            </ul>
        </li>
    </ul>
    <p>
    </p>
    <p>
    </p>
</article>
{{ end }}
{{ end }}