#main-logo {
    font-size: xx-large;
    text-decoration: none;
    background: linear-gradient( to right, rgb(156, 88, 219), red, yellow, green, rgb(52, 52, 255), rgb(156, 88, 219));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bolder;
    font-family: serif;
}

#main-logo-wrapper {
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

.frame {
    border: 1px solid whitesmoke;
    background-color: black;
    color: lightgreen;
}

#counter-wrapper {
    padding-bottom: 10px;
}

#taxonomy-menu {
    background: linear-gradient(to bottom, rgb(223, 183, 213), rgb(207, 83, 187), rgb(223, 183, 213));
}

.taxonomy-btn {
    text-decoration: none;
    margin: 0px 10px;
    color: rgb(53, 0, 104);
    background: linear-gradient(to bottom, rgb(223, 183, 213), rgb(207, 83, 187), rgb(223, 183, 213));
}

#header-visual {
    background-color: rgb(223, 183, 213);
}

header {
    text-align: center;
}

#counter {
    display: inline;
}