<header style="text-align: center;">
    <div style="padding-bottom: 60px; background-color: rgb(223, 183, 213);">
        <a href="{{ .Site.BaseURL }}" style="text-decoration: none;">
            <h1
                style="display: inline; background: linear-gradient( to right, rgb(156, 88, 219), red, yellow, green, rgb(52, 52, 255), rgb(156, 88, 219)); background-clip: text; -webkit-background-clip: text; color: transparent; filter: {{ range $val := seq 10 }} drop-shadow({{$val}}px {{$val}}px 0px rgb(59, 0, 102)) {{ end }};">
                {{ .Site.Title }}</h1>
        </a>
    </div>
    <div style="background: linear-gradient(to bottom, rgb(223, 183, 213), rgb(207, 83, 187), rgb(223, 183, 213)); ">
        {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
            <a href="{{ "/" | relLangURL}}{{ $taxonomyname | urlize }}" style="text-decoration: none; margin: 0px 10px; color: rgb(53, 0, 104); background: linear-gradient(to bottom, rgb(223, 183, 213), rgb(207, 83, 187), rgb(223, 183, 213));">{{- $taxonomyname -}}</a>
        {{ end }}
    </div>
</header>