<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/single.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/list.css">
    <link rel="stylesheet" href="/css/baseof.css">
    <script src="/js/header.js"></script>
    {{ if .HasShortcode "3dmodel" }}
    <script async type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    {{ end }}
    {{ if not .Site.IsServer }}
    {{ with .Site.GoogleAnalytics }}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '{{ . }}');
    </script>
    {{ end }}
    {{ end }}
    <meta name="msapplication-square70x70logo" content="/favicon/site-tile-70x70.png">
    <meta name="msapplication-square150x150logo" content="/favicon/site-tile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="/favicon/site-tile-310x150.png">
    <meta name="msapplication-square310x310logo" content="/favicon/site-tile-310x310.png">
    <meta name="msapplication-TileColor" content="#0078d7">
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon/favicon.ico">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="36x36" href="/favicon/android-chrome-36x36.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/favicon/android-chrome-48x48.png">
    <link rel="icon" type="image/png" sizes="72x72" href="/favicon/android-chrome-72x72.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/android-chrome-96x96.png">
    <link rel="icon" type="image/png" sizes="128x128" href="/favicon/android-chrome-128x128.png">
    <link rel="icon" type="image/png" sizes="144x144" href="/favicon/android-chrome-144x144.png">
    <link rel="icon" type="image/png" sizes="152x152" href="/favicon/android-chrome-152x152.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="256x256" href="/favicon/android-chrome-256x256.png">
    <link rel="icon" type="image/png" sizes="384x384" href="/favicon/android-chrome-384x384.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/favicon/android-chrome-512x512.png">
    <link rel="icon" type="image/png" sizes="36x36" href="/favicon/icon-36x36.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/favicon/icon-48x48.png">
    <link rel="icon" type="image/png" sizes="72x72" href="/favicon/icon-72x72.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/icon-96x96.png">
    <link rel="icon" type="image/png" sizes="128x128" href="/favicon/icon-128x128.png">
    <link rel="icon" type="image/png" sizes="144x144" href="/favicon/icon-144x144.png">
    <link rel="icon" type="image/png" sizes="152x152" href="/favicon/icon-152x152.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/favicon/icon-160x160.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/icon-192x192.png">
    <link rel="icon" type="image/png" sizes="196x196" href="/favicon/icon-196x196.png">
    <link rel="icon" type="image/png" sizes="256x256" href="/favicon/icon-256x256.png">
    <link rel="icon" type="image/png" sizes="384x384" href="/favicon/icon-384x384.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/favicon/icon-512x512.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/icon-16x16.png">
    <link rel="icon" type="image/png" sizes="24x24" href="/favicon/icon-24x24.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/icon-32x32.png">
    <title>
        {{ if not .IsHome }} {{ .Title }} | {{ end }} {{ .Site.Title }}
    </title>

    <!-- Front-MatterのimagesでOGP用の画像が指定されていればおとなしくHugo標準のものを使う -->
    <!-- 指定が無ければタイトルから画像を自動生成する -->
    <!-- OGP, Twitterカードのための画像を記事タイトルから生成する -->
    {{ if .Params.images }}
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ else }}
    {{ $font := resources.Get "GenJyuuGothic/GenJyuuGothic-Regular.ttf" }}
    {{ $image := resources.Get "ogp_template.png"}}

    {{ $title := .Title }}
    {{ $summary := .Summary }}
    {{ $url := .Permalink }}
    {{ $publish_date := .PublishDate}}
    {{ $modification_date := .Lastmod }}

    {{ with $image }}
    {{ $opts := dict
    "color" "#000000"
    "font" $font
    "linespacing" 2
    "size" 50
    "x" 100
    "y" 250
    }}
    {{ $filter := images.Text $title $opts }}
    {{ $image := $image | images.Filter $filter }}
    {{ $image_url := print $image.Permalink "?" now.Unix }}
    <meta property="og:title" content="{{ $title }}">
    <meta property="og:description" content="{{ $summary }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ $url }}">
    <meta property="og:image" content="{{ $image_url }}">
    <meta property="article:section" content="">
    <meta property="article:published_time" content="{{ $publish_date }}">
    <meta property="article:modified_time" content="{{ $modification_date }}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ $image_url }}">
    <meta name="twitter:title" content="{{ $title }}">
    <meta name="twitter:description" content="{{ $summary }}">
    {{ end }}

    {{ end }}
</head>