{{ $src := .Get "src" }}
{{ $caption := .Get "caption"}}
{{ if not $src }}
	{{ $src = .Get 0 }}
{{ end }}
{{ if not $caption }}
	{{ $caption = .Get 1 }}
{{ end }}
{{ $original := .Page.Resources.GetMatch $src }}
{{ if $original }}
	{{ $resized := $original.Fit "400x400 jpg q70" }}
	<figure style="display: inline-block;
	border: thin #000000 solid;
	border-radius: 8px;
    padding: 10px;
	margin: 5px;
	width: 80%;
    max-width: 400px;
	box-shadow: 0px 0px 10px gray;
	background: radial-gradient(rgb(24, 24, 24) 0%, rgb(255, 255, 255) 80%);;
	">
		<figcaption style="font: sans-serif;">{{ $caption }}</figcaption>
		
		<a href="{{ $original.Permalink }}">
			<img src="{{ $resized.Permalink }}" alt="{{ .Get " alt" }}" style="width: min(100%, 400px); vertical-align: bottom;border: thin#000000 solid;">
		</a>
	</figure>
{{ end }} 