{{ $src := .Get "src" }}
{{ $caption := .Get "caption"}}
{{ if not $src }}
{{ $src = .Get 0 }}
{{ end }}
{{ if not $caption }}
{{ $caption = .Get 1 }}
{{ end }}
{{ $original := .Page.Resources.GetMatch $src }}
{{ if $original }}
{{/* unique counter for modal ids */}}
{{ $count := .Page.Scratch.Get "imgXXcounter" | default 0 }}
{{ $count = add $count 1 }}
{{ .Page.Scratch.Set "imgXXcounter" $count }}
{{ $resized := $original.Fit "400x400 jpg q70" }}
{{/* ページ内で一度だけCSSスタイルを注入するためのフラグチェック */}}
{{ if not (.Page.Scratch.Get "imgXXStyleInjected") }}
<style>
	.imgXX-modal {
		padding: 0;
		border: none;
		background: transparent;
	}

	.imgXX-modal::backdrop {
		background: rgba(0, 0, 0, 0.6);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
	}

	.imgXX-modal img {
		display: block;
		margin: auto;
		max-width: 90vw;
		max-height: 90vh;
	}

	.imgXX-modal-close-button {
		position: fixed;
		top: 1rem;
		right: 1rem;
		z-index: 1000;
		border: none;
		background: transparent;
		color: white;
		font-size: 1.5rem;
		cursor: pointer;
	}

	/* モーダル用 figure スタイル */
	.imgXX-figure {
		display: inline-block;
		border: thin #000 solid;
		border-radius: 8px;
		padding: 10px;
		margin: 5px;
		width: 80%;
		max-width: 400px;
		box-shadow: 0 0 10px gray;
		background: radial-gradient(rgb(24, 24, 24) 0%, rgb(255, 255, 255) 80%);
	}

	.imgXX-figure figcaption {
		font: sans-serif;
	}

	/* サムネイル画像用スタイル */
	.imgXX-thumb {
		width: min(100%, 400px);
		vertical-align: bottom;
		border: thin #000 solid;
		cursor: pointer;
	}
</style>
{{ .Page.Scratch.Set "imgXXStyleInjected" true }}
{{ end }}
<figure class="imgXX-figure">
	<figcaption>{{ $caption }}</figcaption>
	<img id="imgXX-thumb-{{ $count }}" class="imgXX-thumb" src="{{ $resized.Permalink }}" alt="{{ .Get " alt" }}"
		onclick="document.getElementById('imgXX-modal-{{ $count }}').showModal();">
	<dialog id="imgXX-modal-{{ $count }}" class="imgXX-modal" onclick="if(event.target===this) this.close();">
		<button class="imgXX-modal-close-button" aria-label="Close" onclick="this.closest('dialog').close();">×</button>
		<img src="{{ $original.Permalink }}" alt="{{ .Get " alt" }}">
	</dialog>
</figure>
{{ end }}